*{
    margin: 0;
    padding: 0;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
    gap: 8px;
    padding: 20px 248px;
}

.display {
    background-color: tan;
    text-align: center;
    margin-bottom: 8px;
    border-radius: 8px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: mediumaquamarine;
    padding: 8px;
    border-radius: 24px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 4px;
    gap: 4px;
}

button {
    background-color: bisque;
    padding: 4px 8px;
    border-radius: 8px;
}


